 <div id='header'>
</div>

   <div id='cards-container'>
    <div class='card-container'>

     <div class='info-block'>
      <div class='card-header'>Contact Info</div>
      <div class='container-table'>

        <div class='contacts'>
          <div id='user-name'>Name: <%= @user.name %> </div>
          <div id='user-email'>Email: <%= @user.email %> </div>
          <div id='user-phone'>Phone Number: <%= @user.phone_number %> </div>
        </div>

        <div class='emergency contacts'>
          <div>911 Info</div>
          <div id='emergency-name'>Emergency Contact: <%= @user.emergency_contact %> </div>
          <div id='emergency-phone'>Emergency Phone: <%= @user.emergency_contact_phone_number %></div>
        </div>

        <div class='bio'>
          <div id='user-bio'>Bio: <%= @user.bio %> </div>
        </div>

      </div>
    </div>
  </div>
  <div class='card-container'>

   <div class='info-block'>
    <div class='card-header'>Quizzes</div>
    <div class='container-table'>

      <div class='quizzes'>
        <% @user.quizzes.each do |quiz| %>
        <div id='quiz-title'> <%= quiz.title %> </div>
        <div id='quiz-score'> <%= quiz.score %> </div>
        <% end %>
      </div>

    </div>
  </div>
</div>

<div class='card-container'>
  <div class='info-block'>
    <div class='card-header'>Attendance</div>
    <div id='attendance-overall'></div>
    <div id='attendance-late'></div>
    <div id='attendance-absent'></div>
  </div>
</div>

<div class='card-container'>

 <div class='info-block'>
  <div class='card-header'>One-On-Ones</div>
  <div class='container-table'>

    <div class='one-on-ones'>
    <% @user.one-on-ones.each do |session| %>
      <div id='one-on-one-date'> <%= session.date %> </div>
      <div id='one-on-one-comments'> <%= session.comments %> </div>
    <% end %>
    </div>

  </div>
</div>
</div>

</div>