<!DOCTYPE html>
<html>
<head>
  <title>StudentManagerApp</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
    <div class = 'nav_button'>
      <%= link_to 'Profile', edit_user_registration_path(user: current_user.id) %>
    </div>
    <div class = 'nav_button'>
      <%= link_to 'Logout', destroy_user_session_path(user: current_user.id) %>
    </div>
<% else %>
    <div class = 'nav_button'>  <!-- need to refine the link below to hide the CLIENT_ID -->
	    <%= link_to 'Sign in with Github', user_omniauth_authorize_path(:github) %>
  	</div>
<% end %>

 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
